{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />

    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/chart.min.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
        <h1>Athletics Results Visualization</h1>
      </div>
      <hr>
      <div class="row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
	  <form method="get" action="/" class="form-group" id="id_form">
	    {{ form }}
	    <button class="btn btn-primary" type="submit">Query</button>
	  </form>
	</div>
	<div class="col-sm-2">
	</div>
      </div>
      <hr>
      <div class="row">
	<div class ="col-md-6 col-sm-6">      
	  <canvas id="myChart" width="300" height="150"></canvas>
	</div>
	<div class ="col-md-6 col-sm-6">
	  <table class="table table-bordered table-hover table-sm">
	    <thead>
	      <tr>
		<th scope="col">Date</th>
		<th scope="col">Name</th>
		<th scope="col">Event</th>
		<th scope="col">Result</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for entry in results %}
	    <tr>
	      <th scope="row">{{ entry.date|date:'Y-m-d' }}</th>
	      <td>{{ entry.name }}</td>
	      <td>{{ entry.event }}</td>
	      <td>
		{{ entry.display_result }} 
	      </td>
	    </tr>
	    {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
      <div class="row text-center">
	<hr>
	{{ data }}
	Data source from <a href="http://hkssf-hk.org.hk"> HKSSF </a>
	<hr>
	Designed by <a href="http://cameronlai.com"> Cameron Lai </a>
      <hr>
      </div>
    </div>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/plot.js" %}"></script>
    <script type="text/javascript">
      var ctx = document.getElementById("myChart").getContext('2d');
      is_track = {{ is_track }};
      plot_x = {{ plot_x|safe }};
      plot_y = {{ plot_y|safe }};
      plot_data(ctx, is_track, plot_x, plot_y);
    </script>
  </body>
</html>

