{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chart.min.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
	<hr>
        <h1>Athletic Results Visualization</h1>
	<hr>
      </div>
      <div class="row center_div">
	<form method="get" action="/" class="form-group" id="id_form">
	  {% csrf_token %}
	  {{ form }}
	  <button class="btn btn-primary" type="submit">Query</button>
	</form>
      </div>
      <hr>
      <div class="row">
	<!--
	    <canvas id="line-chart" width="800" height="450">
	    </canvas>
	    -->
      </div>
    </div>
    <div class="row center_div">
      <table class="table table-bordered table-hover table-sm">
	<thead>
	  <tr>
	    <th scope="col">Date</th>
	    <th scope="col">Name</th>
	    <th scope="col">Event</th>
	    <th scope="col">Result</th>
	  </tr>
	</thead>
	<tbody>
	  {% for entry in results %}
	  <tr>
	    <th scope="row">{{ entry.date|date:'Y-m-d' }}</th>
	    <td>{{ entry.name }}</td>
	    <td>{{ entry.event }}</td>
	    <td>
	      {% if entry.track %}
	      {{ entry.result }}
	      {% else %}
	      {{ entry.result }}m
	      {% endif %}
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
    <div class="row text-center">
      <hr>
      Data source from <a href="http://hkssf-hk.org.hk"> HKSSF </a>
      <hr>
      Designed by <a href="http://cameronlai.com"> Cameron Lai </a>
      <hr>
    </div>
    <script type="text/javascript">
      new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
      labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
      datasets: [{ 
      data: [86,114,106,106,107,111,133,221,783,2478],
      label: "Africa",
      borderColor: "#3e95cd",
      fill: false
      },
      ]
      },
  options: {
      title: {
      display: true,
      text: 'World population per region (in millions)'
      },
    pan: {
      enabled: true,
      },
    zoom: {
      enabled: true,
      },
    
  }
      });
    </script>
    
    <script>
      var ajax_response = function() {
        var school_choice = $("#id_school_choice").val();
        var sex_choice = $("#id_sex_choice").val();
        var event_choice = $("#id_event_choice").val();
        
        $.ajax({
          url: '/ath_res_vis/ajax/get_info/',
          data: {
            'school_choice': school_choice,
            'sex_choice': sex_choice,
            'event_choice': event_choice,
          },
          dataType: 'json',
          success: function (data) {
            $('#id_name_choice').empty();
            name_list = $.parseJSON(data['name_list']);
            $.each(name_list, function(i, item) {
              $('#id_name_choice').append($('<option></option>').val(item).html(item));
            });

            $('#id_sex_choice').empty();
            sex_list = $.parseJSON(data['sex_list']);
            $.each(sex_list, function(i, item) {
              $('#id_sex_choice').append($('<option></option>').val(item).html(item)); 
            });
            if (sex_choice && $.inArray(sex_choice, sex_list) >= 0) {
              $("#id_sex_choice").val(sex_choice);
            }

            $('#id_event_choice').empty();
            event_list = $.parseJSON(data['event_list']);
            $.each(event_list, function(i, item) {
              $('#id_event_choice').append($('<option></option>').val(item).html(item)); 
            });
            if (event_choice && $.inArray(event_choice, event_list) >= 0) {
              $("#id_event_choice").val(event_choice);
            }
          }
        })
      }

      $("#id_school_choice").change(function () {
        ajax_response();
      })
      $("#id_sex_choice").change(function () {
        ajax_response();
      })
      $("#id_event_choice").change(function () {
        ajax_response();
      })
    </script>
</body>
</html>

