body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
}

label{
    margin: 2px;
}

select{
    margin: 2px;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}